.reviews {
  margin: 0 auto;
  padding: 12px;
  max-width: 884px;
  width: 100%;
}

.reviewEnter {
opacity: 0;
}

.reviewEnterActive {
  opacity: 1;
  transition: opacity;
  transition-duration: 2000ms;
}