.reviews {
  margin:
   50px 18px 0px;
}
.icon {
  width: 30px;
  height: 30px;
}

.icon polygon {
  fill: none;
  stroke: #000;
}

.active{
  width: 30px;
  height: 30px;
}

.active polygon{
  fill: orange
}
